// variables
$white = #fff
$yellow = #fee433
$violet = #5d51f6
$violet-dark = #4033e3
$violet-light = #6d62fa
$violet-darker = #2a1dd0
$red = #ff4747
$blue = #39cff8
$aqua = #27a4c5
$rose = #fb8aa3
$green = #3cb29d
$grey = #9b9b9b
