html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong,
b {
  font-weight: 600;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
html {
  -webkit-text-size-adjust: none;
  min-height: 100%;
}
body {
  font-size: 18px;
  line-height: 1.8;
}
body,
input,
textarea {
  font-family: "Merriweather";
  font-size: 14px;
  line-height: 1.8;
}
a {
  transition: color 0.2s;
}
*:focus {
  outline: none;
}
.-hide {
  display: none;
}
.br {
  display: block;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type='submit'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.wrapper {
  background: #fff;
  margin: 0 auto;
  overflow-x: hidden;
  width: 100%;
}
.base-col {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  box-sizing: border-box;
}
.base-col:after {
  content: "";
  display: table;
  clear: both;
}
.btn {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  font-family: 'PT Sans Narrow';
  border: none;
  background: #f38400;
  color: #fff;
  text-decoration: none;
  transition: background 0.2s;
}
.btn:hover {
  background: #ff981d;
}
.btn:active {
  background: #ea7f00;
}
.btn.violet {
  background: #831f81;
}
.btn.violet:hover {
  background: #a11b9e;
}
.btn.violet:active {
  background: #7a1678;
}
.btn.medium {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 36px;
  padding: 6px 32px 6px;
}
.btn.large {
  font-size: 26px;
  letter-spacing: 1px;
  font-weight: 600;
  line-height: 48px;
  padding: 7px 40px 8px;
}
.btn.wide {
  padding-left: 54px;
  padding-right: 54px;
}
.btn.rounded {
  border-radius: 40px;
}
.btn.squared {
  border-radius: 4px;
}
.section {
  padding: 44px 0 10px;
}
.section-head {
  text-align: center;
  margin-bottom: 30px;
}
.section-headline {
  font: 600 40px/44px 'PT Sans Narrow';
}
.section-headline.black {
  color: #000;
}
.section-headline.white {
  color: #fff;
}
.section-headline.violet {
  color: #831f81;
}
.section-description {
  font-size: 20px;
  letter-spacing: -0.5px;
  line-height: 20px;
  margin: 20px 0 -12px;
}
.section-statistic {
  text-align: center;
  font-size: 0;
  margin: 0 0 60px;
}
.section-statistic li {
  display: inline-block;
  vertical-align: top;
  width: 33.3%;
}
.section-statistic li span {
  font: 600 94px 'PT Sans Narrow';
  color: #831f81;
}
.section-statistic li span i {
  font-style: normal;
  font-size: 26px;
  line-height: 22px;
  padding-left: 6px;
}
.section-statistic li p {
  width: 220px;
  font-size: 20px;
  margin: 0 auto;
  line-height: 24px;
}
.section-partners {
  text-align: center;
  margin: 0 -40px;
}
.section-partners li {
  display: inline-block;
  vertical-align: top;
  margin: 0 40px;
}
.section-partners li .section-partners-image {
  height: 120px;
  margin-bottom: 12px;
  position: relative;
}
.section-partners li .section-partners-image:after {
  content: '';
  width: 1px;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.section-partners li .section-partners-image img {
  max-height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.section-info {
  background: #e9e9e9;
  padding: 44px 0 60px;
}
.section-info .section-head {
  margin-bottom: 46px;
}
.section-info .section-headline {
  text-align: center;
}
.contacts {
  padding-top: 50px;
}
.contacts #map {
  width: 100%;
  height: 600px;
}
.contacts .base-col {
  position: relative;
  z-index: 1;
}
.contacts .contacts-text {
  width: 585px;
  height: 600px;
  padding: 45px 50px;
  box-sizing: border-box;
  background: rgba(255,255,255,0.8);
  position: absolute;
  top: 0;
  right: 0;
  font-size: 18px;
  line-height: 26px;
}
.contacts .contacts-text .section-headline {
  padding-bottom: 24px;
}
.contacts .contacts-text p {
  padding-bottom: 24px;
}
.list-items {
  font-size: 0;
  margin-bottom: 20px;
}
.list-items.within-buttons .list-description {
  min-height: 168px;
}
.list-items .list-item {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  width: 33.3%;
  padding: 0 5px;
  margin-bottom: 30px;
  box-sizing: border-box;
}
.list-items .list-image {
  width: 100%;
  height: 290px;
  background-size: cover;
  margin-bottom: 16px;
}
.list-items .list-headline,
.list-items .list-description,
.list-items .list-button {
  padding: 0 18px;
  box-sizing: border-box;
}
.list-items .list-headline {
  color: #831f81;
  font: 600 28px 'PT Sans Narrow';
}
.list-items .list-description {
  line-height: 24px;
  letter-spacing: -0.5px;
  margin-top: 6px;
}
.list-items .list-description p {
  margin-bottom: 12px;
}
.list-items .list-button {
  margin-top: 20px;
}
.list-main-button {
  text-align: center;
}
.list-icons {
  font-size: 0;
  margin-bottom: -50px;
}
.list-icons li {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  line-height: 30px;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 46px;
}
.list-icons li:after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 80px;
  vertical-align: middle;
}
.list-icons li .list-icons-text {
  display: inline-block;
  vertical-align: middle;
  padding-left: 16px;
}
.list-icons li i {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 82px;
}
.list-icons li i:before {
  content: '';
  display: inline-block;
}
.list-icons li i.thumb:before {
  background-image: url("../images/design/sprite.png");
  background-size: 236.5px 165.5px;
  background-position: 0px 0px;
  width: 82px;
  height: 82.5px;
}
.list-icons li i.shield:before {
  background-image: url("../images/design/sprite.png");
  background-size: 236.5px 165.5px;
  background-position: 0px -83.5px;
  width: 76px;
  height: 82px;
}
.list-icons li i.reparation:before {
  background-image: url("../images/design/sprite.png");
  background-size: 236.5px 165.5px;
  background-position: -77px -83.5px;
  width: 76.5px;
  height: 77px;
}
.list-icons li i.garbage:before {
  background-image: url("../images/design/sprite.png");
  background-size: 236.5px 165.5px;
  background-position: -175px 0px;
  width: 61.5px;
  height: 62.5px;
}
.list-images {
  font-size: 0;
  text-align: center;
  padding-top: 10px;
}
.list-images li {
  display: inline-block;
  margin: 0 24px;
  overflow: hidden;
  border-radius: 6px;
  border: 6px solid #831f81;
  position: relative;
}
.list-images li:hover .list-images-description {
  opacity: 1;
}
.list-images .list-images-description {
  background: rgba(131,31,129,0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  opacity: 0;
  transition: opacity 0.2s;
}
.list-images .list-images-description p {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.list-questions {
  padding-bottom: 16px;
}
.list-questions > li {
  padding-bottom: 4px;
}
.list-questions input[name="questions"] {
  display: none;
}
.list-questions input[name="questions"]:checked + .list-questions-question {
  font-weight: bold;
}
.list-questions input[name="questions"]:checked + .list-questions-question:before {
  top: -6px;
  background-image: url("../images/design/sprite.png");
  background-size: 236.5px 165.5px;
  background-position: -204px -87.5px;
  width: 22px;
  height: 4px;
}
.list-questions input[name="questions"]:checked + .list-questions-question + .list-questions-response {
  display: block;
}
.list-questions .list-questions-question {
  font-size: 20px;
  cursor: pointer;
}
.list-questions .list-questions-question:before {
  content: '';
  display: inline-block;
  margin-right: 18px;
  position: relative;
  top: 3px;
  background-image: url("../images/design/sprite.png");
  background-size: 236.5px 165.5px;
  background-position: -204px -63.5px;
  width: 23px;
  height: 23px;
}
.list-questions .list-questions-response {
  display: none;
  font-size: 16px;
  padding: 16px 0 14px 40px;
  box-sizing: border-box;
}
.list-reviews {
  font-size: 0;
  margin: 0 -15px;
  padding-top: 10px;
  padding-bottom: 40px;
}
.list-reviews > li {
  width: 33.3%;
  display: inline-block;
  vertical-align: top;
  padding: 0 15px;
  box-sizing: border-box;
  font-size: 16px;
  text-align: center;
}
.list-reviews .list-reviews-avatar {
  display: inline-block;
  width: 128px;
  height: 128px;
  overflow: hidden;
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
  margin-bottom: 12px;
}
.list-reviews .list-reviews-location {
  color: #929292;
  font-size: 12px;
  margin-top: -2px;
  margin-bottom: 10px;
}
.list-reviews .list-reviews-headline {
  font-weight: bold;
  margin-bottom: 4px;
}
.list-reviews .list-reviews-review {
  font-style: italic;
  line-height: 24px;
}
.list-slider {
  cursor: pointer;
}
.list-slider .slick-prev,
.list-slider-full .slick-prev,
.list-slider .slick-next,
.list-slider-full .slick-next {
  z-index: 1;
  background-color: rgba(69,37,20,0.6) !important;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: background-color 0.2s;
}
.list-slider .slick-prev:hover,
.list-slider-full .slick-prev:hover,
.list-slider .slick-next:hover,
.list-slider-full .slick-next:hover {
  background-color: rgba(69,37,20,0.8) !important;
}
.list-slider .slick-prev:before,
.list-slider-full .slick-prev:before,
.list-slider .slick-next:before,
.list-slider-full .slick-next:before {
  content: '';
  display: inline-block;
  margin-left: 2px;
  background-image: url("../images/design/sprite.png");
  background-size: 236.5px 165.5px;
  background-position: -175px -111.5px;
  width: 12px;
  height: 21.5px;
}
.list-slider .slick-prev,
.list-slider-full .slick-prev {
  left: 10px;
}
.list-slider .slick-prev:before,
.list-slider-full .slick-prev:before {
  transform: rotate(-180deg);
  margin-left: -2px;
}
.list-slider .slick-next,
.list-slider-full .slick-next {
  right: 10px;
}
.list-slider .slick-slide,
.list-slider-full .slick-slide {
  background-size: cover;
  background-position: center center;
}
.list-slider-full > div {
  width: 100%;
  height: calc(100vh - 50px);
}
.list-slider-full .slick-slide {
  text-align: center;
}
.list-slider-full .slick-slide img {
  height: 100%;
  display: inline-block;
}
.form-wide {
  width: 100%;
  display: block;
  padding: 44px 0 60px;
  margin: 24px 0 12px;
}
.form-wide .section-headline {
  text-align: center;
  margin-bottom: 30px;
}
.form-wide fieldset {
  font-size: 0;
  margin: 0 -15px;
}
.form-wide .form-wide-item {
  display: inline-block;
  width: 33.3%;
  padding: 0 15px;
  box-sizing: border-box;
}
.form-wide .form-wide-item input,
.form-wide .form-wide-item button {
  width: 100%;
}
.form-wide.violet {
  background: url("../images/content/violet-bg.jpg");
  background-size: cover;
}
.form-wide.grey {
  background: #e9e9e9;
}
.input {
  background: #fff;
  border-radius: 4px;
  padding: 9px 16px;
  font-size: 16px;
  border: none;
  box-sizing: border-box;
  border: 2px solid transparent;
  transition: border 0.2s;
  resize: none;
}
.input::-webkit-input-placeholder {
  color: #000;
}
.input:-moz-placeholder {
  color: #000;
}
.input::-moz-placeholder {
  color: #000;
}
.input:-ms-input-placeholder {
  color: #000;
}
.input:focus {
  border: 2px solid #f38400;
}
.input.grey {
  padding: 10px 17px;
  border: 1px solid #e9e9e9;
}
.input.grey:focus {
  border: 1px solid #831f81;
}
.popup_active {
  overflow: hidden;
}
#overlay {
  background: rgba(0,0,0,0.6);
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.closePopup {
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 20px;
  background-image: url("../images/design/sprite.png");
  background-size: 236.5px 165.5px;
  background-position: -175px -92.5px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s;
}
.closePopup:hover {
  opacity: 0.75;
}
.popup--wrapper {
  background: #fff;
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  text-outline: 50%;
  will-change: transform;
  transform: translate(-2500px, -50%);
  background: #fff;
  padding: 40px 50px;
  width: 100%;
  max-width: 800px;
  max-height: 100vh;
  overflow-y: scroll;
  box-sizing: border-box;
  border-radius: 24px;
  transition: transform 0.3s;
}
.popup--wrapper.full {
  width: calc(100vw - 50px);
  max-width: none;
  padding: 0;
}
.popup--wrapper.popupOpened {
  transform: translate(-50%, -50%);
}
.popup-head {
  width: 100%;
  max-width: 600px;
  margin: 0 auto 30px;
  font-size: 18px;
}
.popup-head .section-headline {
  text-align: center;
  margin-bottom: 30px;
}
.popup-form {
  width: 100%;
  max-width: 370px;
  margin: 0 auto;
}
.popup-form .input,
.popup-form .btn {
  width: 100%;
  margin-bottom: 18px;
}
.main-header {
  padding: 14px 0;
  position: relative;
}
.main-header:after {
  content: "";
  display: table;
  clear: both;
}
.main-header .main-header-left {
  float: left;
}
.main-header .main-header-right {
  float: right;
}
.main-header .main-header-left,
.main-header .main-header-right {
  height: 72px;
}
.main-header .main-header-left:after,
.main-header .main-header-right:after {
  content: '';
  width: 1px;
  height: 72px;
  display: inline-block;
  vertical-align: middle;
}
.main-header .main-logo,
.main-header .main-headline,
.main-header .main-phones,
.main-header .main-order-call,
.main-header .main-language {
  display: inline-block;
  vertical-align: middle;
}
.main-header .main-phones,
.main-header .main-order-call,
.main-header .main-language {
  margin-left: 12px;
}
.main-header .main-logo {
  background-image: url("../images/design/sprite.png");
  background-size: 236.5px 165.5px;
  background-position: -83px 0px;
  width: 91px;
  height: 71px;
  margin-right: 24px;
}
.main-header .main-headline {
  font: 600 26px 'PT Sans Narrow';
  letter-spacing: -0.5px;
  line-height: 18px;
}
.main-header .main-phones {
  font: 600 26px 'PT Sans Narrow';
  line-height: 26px;
  letter-spacing: -1px;
}
.main-header .main-language {
  font: 600 16px 'PT Sans Narrow';
  letter-spacing: -0.5px;
}
.main-header .main-language a {
  text-decoration: none;
  color: #000;
}
.main-header .main-language a:hover {
  color: #f38400;
}
.main-slider {
  width: 100%;
  height: calc(100vh - 99px);
  position: relative;
  margin-bottom: 0 !important;
}
.main-slider .slick-slide {
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
}
.main-slider .slick-dots {
  position: absolute;
  bottom: 30px;
}
.main-slider .slick-dots li button:before {
  content: '';
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background: #fff;
  opacity: 0.6;
  transition: opacity 0.15s;
}
.main-slider .slick-dots li.slick-active button:before {
  opacity: 1;
}
.main-info {
  position: absolute;
  top: 200px;
  width: 585px;
  padding: 30px 50px;
  box-sizing: border-box;
  background: rgba(69,37,20,0.6);
  border-radius: 24px;
  color: #fff;
  text-align: center;
}
.main-info .main-info-headline {
  font: 600 54px 'PT Sans Narrow';
  letter-spacing: -0.25px;
  line-height: 72px;
  margin-bottom: 20px;
}
.main-info .main-info-headline .main-info-price {
  font-size: 90px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -8px;
}
.main-info .main-info-description {
  font-size: 24px;
  margin-bottom: 24px;
}
footer.footer {
  padding: 55px 0;
}
footer.footer .footer-copyrighth {
  float: left;
  font-size: 16px;
}
footer.footer .footer-social {
  float: right;
}
footer.footer .footer-social .fb {
  display: inline-block;
  margin-left: 12px;
  background-image: url("../images/design/sprite.png");
  background-size: 236.5px 165.5px;
  background-position: -175px -63.5px;
  width: 28px;
  height: 28px;
}
