.btn
  cursor pointer
  display inline-block
  text-align center
  font-family 'PT Sans Narrow'
  border none
  background $orange
  color $white
  text-decoration none
  transition background .2s

  &:hover
    background $orange-light

  &:active
    background $orange-dark

  &.violet
    background $violet

    &:hover
      background $violet-light

    &:active
      background $violet-dark


  &.medium
    font-weight 600
    font-size 20px
    letter-spacing .5px
    line-height 36px
    padding 6px 32px 6px

  &.large
    font-size 26px
    letter-spacing 1px
    font-weight 600
    line-height 48px
    padding 7px 40px 8px

  &.wide
    padding-left 54px
    padding-right 54px

  &.rounded
    border-radius 40px

  &.squared
    border-radius 4px
