footer.footer
  padding 55px 0

  .footer-copyrighth
    float left
    font-size 16px

  .footer-social
    float right

    .fb
      display inline-block
      margin-left 12px
      sprite($s-fb)

@media (max-width 800px)
  footer.footer .footer-copyrighth
    width 600px

@media (max-width 720px)
  footer.footer
    padding 30px 0

    .footer-copyrighth,
    .footer-social
      float none

    .footer-copyrighth
      width 100%
      font-size 14px
      text-align center

    .footer-social
      text-align center
      padding-top 18px
