footer.footer
  padding 55px 0

  .footer-copyrighth
    float left
    font-size 16px

  .footer-social
    float right

    .fb
      display inline-block
      margin-left 12px
      sprite($s-fb)
