.main-header
  padding 14px 0
  position relative
  clearfix()

  .main-header-left
    float left

  .main-header-right
    float right

  .main-header-left,
  .main-header-right
    height 72px

    &:after
      content ''
      width 1px
      height 72px
      display inline-block
      vertical-align middle

  .main-logo,
  .main-headline,
  .main-phones,
  .main-order-call,
  .main-order-call-mobile,
  .main-language
    display inline-block
    vertical-align middle

  .main-phones,
  .main-order-call,
  .main-language
    margin-left 12px

  .main-order-call-mobile
    display none
    height 20px
    padding 9px 10px 11px
    svg
      width 20px
      padding 0

  .main-logo
    sprite($s-logo)
    margin-right 24px

  .main-headline
    font 600 26px 'PT Sans Narrow'
    letter-spacing -.5px
    line-height 18px

  .main-phones
    font 600 26px 'PT Sans Narrow'
    line-height 26px
    letter-spacing -1px

    a
      color #000
      text-decoration none

  .main-language
    font 600 16px 'PT Sans Narrow'
    letter-spacing -.5px

    a
      text-decoration none
      color $black

      &:hover
        color $orange

.main-slider
  width 100%
  height calc(100vh - 200px)
  min-height 700px
  max-height 1000px
  position relative
  margin-bottom 0 !important

  .slick-slide
    background-size cover
    position relative
    width 100%
    height 100%

  .slick-dots
    position absolute
    bottom 30px

    li button:before
      content ''
      border-radius 50%;
      width 16px
      height 16px
      background $white;
      opacity .6
      transition opacity .15s

    li.slick-active button:before
      opacity 1

.main-info
  position absolute
  top 200px
  width 585px
  padding 30px 50px
  box-sizing border-box
  background rgba(69,37,20,.6)
  border-radius 24px
  color $white
  text-align center

  .main-info-headline
    font 600 54px 'PT Sans Narrow'
    letter-spacing -.25px
    line-height 70px
    margin-bottom 20px

    .main-info-price
      font-size 90px
      display inline-block
      vertical-align middle
      position relative
      top -8px

  .main-info-description
    font-size 24px
    margin-bottom 24px

@media (max-width 1000px)
  .main-slider
    min-height 550px
    max-height 900px

  .main-info
    width calc(100% - 30px)
    max-width 485px
    top 160px
    padding 24px 40px

    .main-info-headline
      font 600 44px 'PT Sans Narrow'
      letter-spacing -.25px
      line-height 54px
      margin-bottom 18px

      .main-info-price
        font-size 80px
        top -6px

    .main-info-description
      font-size 20px
      margin-bottom 18px

@media (max-width 800px)
  .main-slider
    min-height 550px
    max-height 700px

@media (max-width 720px)
  .main-header
    padding 0

    .main-logo
      margin-right 0
      transform scale(0.7)

    .main-headline
      display none

    .main-phones
      font-size 20px
      line-height 22px

@media (max-width 550px)
  .main-info
    padding 12px 18px

    .main-info-headline
      font-size 36px
      line-height 44px
      margin-bottom 8px

      .main-info-price
        font-size 60px
        top -2px

  .main-info
    top 110px

  .main-slider
    min-height 480px

@media (max-width 450px)

  .main-header
    .main-order-call, .main-language, .main-order-call-mobile
      margin-left 8px

    .main-phones
      margin-left 0

    .main-header-left
      margin-left -18px
      margin-right -20px

    .main-logo
      margin-right 0
      transform scale(0.6)

    .main-order-call
      display none

    .main-order-call-mobile
      display inline-block

  .main-info
    .main-info-headline
      font-size: 32px;
      line-height: 42px;
      margin-bottom: 8px;

    .main-info-description
      font-size 18px
      margin-bottom 12px
      line-height 24px

  .main-slider
    height 420px
    min-height auto
