.main-header
  padding 14px 0
  position relative
  clearfix()

  .main-header-left
    float left

  .main-header-right
    float right

  .main-header-left,
  .main-header-right
    height 72px

    &:after
      content ''
      width 1px
      height 72px
      display inline-block
      vertical-align middle

  .main-logo,
  .main-headline,
  .main-phones,
  .main-order-call,
  .main-language
    display inline-block
    vertical-align middle

  .main-phones,
  .main-order-call,
  .main-language
    margin-left 12px

  .main-logo
    sprite($s-logo)
    margin-right 24px

  .main-headline
    font 600 26px 'PT Sans Narrow'
    letter-spacing -.5px
    line-height 18px

  .main-phones
    font 600 26px 'PT Sans Narrow'
    line-height 26px
    letter-spacing -1px

  .main-language
    font 600 16px 'PT Sans Narrow'
    letter-spacing -.5px

    a
      text-decoration none
      color $black

      &:hover
        color $orange

.main-slider
  width 100%
  height calc(100vh - 99px)
  position relative
  margin-bottom 0 !important

  .slick-slide
    background-size cover
    position relative
    width 100%
    height 100%

  .slick-dots
    position absolute
    bottom 30px

    li button:before
      content ''
      border-radius 50%;
      width 16px
      height 16px
      background $white;
      opacity .6
      transition opacity .15s

    li.slick-active button:before
      opacity 1

.main-info
  position absolute
  top 200px
  width 585px
  padding 30px 50px
  box-sizing border-box
  background rgba(69,37,20,.6)
  border-radius 24px
  color $white
  text-align center

  .main-info-headline
    font 600 54px 'PT Sans Narrow'
    letter-spacing -.25px
    line-height 72px
    margin-bottom 20px

    .main-info-price
      font-size 90px
      display inline-block
      vertical-align middle
      position relative
      top -8px

  .main-info-description
    font-size 24px
    margin-bottom 24px
