.announce
  background $yellow
  height 60px
  line-height 60px
  letter-spacing -.25px
  box-sizing border-box
  text-align center
  font-weight 300

  .emoji
    width 32px
    display inline-block
    vertical-align middle
    position relative
    top -3px
    margin-right 12px

.header
  position relative

  h1.headline
    font-size 200px
    line-height 200px
    padding-top 128px
    height 150px
    padding-bottom 60px
    color $violet
    font-family 'Helvetica Rounded'
    text-align center
    position relative
    overflow hidden

    &.-active

      .name.-rose,
      .name.-blueg,
      .name.-blue,
      .name.-green
        &:after,
        &:before
          opacity 1
          transform translate(0, 0)

    .headline-title
      display inline-block
      position relative
      width 871px

    .name
      cursor pointer
      position absolute
      z-index 2
      left 50%
      transform translate(-50%, 0)
      display inline-block
      width 871px
      height 150px
      background-size 871px 150px
      background-repeat no-repeat
      transition opacity .4s

      &.-hide
        opacity 0
        z-index 1

        &.-rose
          &:after
            opacity 0
            transform translate(0, -100px)
          &:before
            opacity 0
            transform translate(-100px, 0)

        &.-blue
          &:after
            opacity 0
            transform translate(-100px, 30px)

        &.-green
          &:after
            opacity 0
            transform translate(0, 100px)

        &.-blueg
          &:before
            opacity 0
            transform translate(-100px, 0)
          &:after
            opacity 0
            transform translate(-100px, 100px)

      &.-blue
        background-image url('../images/content/logo.png')

        &:after
          content ''
          display block
          position absolute
          top -5px
          right 24px
          sprite($s-skate)
          opacity 0
          transform translate(-100px, 30px)
          transition all .35s
          transition-delay .25s

      &.-rose
        background-image url('../images/content/logo-rose.png')

        &:after
          content ''
          display block
          position absolute
          bottom -20px
          left calc(50% + 96px)
          sprite($s-paris)
          opacity 0
          transform translate(-200px, 30px)
          transition all .35s
          transition-delay .25s

        &:before
          content ''
          display block
          position absolute
          bottom -18px
          left -48px
          sprite($s-liberty)
          opacity 0
          transform translate(-200px, 30px)
          transition all .35s
          transition-delay .25s

      &.-blueg
        background-image url('../images/content/logo-blue.png')

        &:after
          content ''
          display block
          position absolute
          bottom 70px
          left calc(50% + 106px)
          sprite($s-avia)
          opacity 0
          transform translate(-100px, 100px)
          transition all .35s
          transition-delay .25s

        &:before
          content ''
          display block
          position absolute
          bottom -18px
          left 60px
          sprite($s-auto)
          opacity 0
          transform translate(-300px, 30px)
          transition all .35s
          transition-delay .25s

      &.-green
        background-image url('../images/content/logo-green.png')

        &:after
          content ''
          display block
          position absolute
          bottom -25px
          left calc(50% + 40px)
          sprite($s-pig)
          opacity 0
          transform translate(-200px, 30px)
          transition all .25s
          transition-delay .25s

    span.count
      position absolute
      right -64px
      top -42px
      font-size 42px
      display block
      width 76px
      height 76px
      line-height 86px
      background $red
      color $white
      border-radius 50%

@media (max-width 1100px)
  .header
    h1.headline
      // font-size 190px
      padding-top 90px
      padding-bottom 40px
      height 136px

      .headline-title
        width 784px

      .name
        width 784px
        height 136px
        background-size 784px 136px

      &.-active
        .name.-rose,
        .name.-blueg,
        .name.-green
          &:after,
          &:before
            transform translate(0,0) scale(0.9)

        .name.-rose
          &:after
            left calc(50% + 80px)


@media (max-width 1000px)
  .header
    h1.headline
      // font-size 140px

      padding-top 83px
      height 105px
      padding-bottom 63px

      .headline-title
        width 610px

      .name
        width 610px
        height 105px
        background-size 610px 105px

      span.count
        width 52px
        height 52px
        right -44px
        top -26px
        font-size 29px
        line-height 60px

      &.-active
        .name.-rose,
        .name.-blueg,
        .name.-green
          &:after,
          &:before
            transform translate(0,0) scale(0.85)

        .name.-rose
          &:after
            left calc(50% + 50px)

@media (max-width 720px)
  .announce
    height auto
    line-height 20px
    padding 20px 10px

    .emoji
      display none

  .header
    position relative

    h1.headline
      font-size 60px
      line-height 66px
      padding-top 52px
      padding-bottom 18px
      height 45px

      .headline-title
        width 261px

      .name
        width 261px
        height 45px
        background-size 261px 45px

      .name.-blue:after
        transform scale(.32)
        top -30px
        right -28px

      span.count
        width 23px
        height 23px
        font-size 13px
        line-height 26px
        right -16px
        top -13px

      &.-active
        .name.-rose,
        .name.-blueg,
        .name.-green
          &:after,
          &:before
            transform translate(0,0) scale(0.5) !important

        .name.-rose
          &:after
            left calc(50% - 11px)
            bottom -42px

          &:before
            left -54px
            bottom -42px

        .name.-blueg
          &:after
            left calc(50% - 11px)
            bottom -42px

          &:before
            left -54px
            bottom -42px

        .name.-green
          &:after
            left calc(50% - 11px)
            bottom -42px
