.popup_active
  overflow hidden

#overlay
  background rgba(0,0,0, 0.6)
  position fixed
  z-index 9998
  top 0
  left 0
  width 100%
  height 100%

.closePopup
  position absolute
  z-index 1
  top 20px
  right 20px
  cursor pointer
  opacity 1
  transition opacity .2s

  &:hover
    opacity .75

  &:before
    content ''
    display inline-block
    sprite($s-close)


.popup--wrapper
  background #fff
  position fixed
  z-index 9999
  top 50%
  left 50%
  text-outline 50%
  will-change transform
  transform translate(calc(-100% - 2000px), -50%)
  background #fff
  padding 40px 50px
  width calc(100% - 50px)
  max-width 800px
  max-height 100vh
  overflow hidden
  box-sizing border-box
  border-radius 24px
  transition transform .3s
  borderbox()

  &.full
    width calc(100vw - 50px)
    max-width none
    padding 0

    .closePopup
      width: 40px;
      height: 40px;
      background: #fff;
      border-radius: 50%;
      text-align: center;
      padding-top: 12px;
      box-sizing: border-box;

  &.popupOpened
    transform translate(-50%, -50%)

.popup-head
  width 100%
  max-width 600px
  margin 0 auto 30px
  font-size 18px

  .section-headline
    text-align center
    margin-bottom 30px

.popup-form
  width 100%
  max-width 370px
  margin 0 auto

  .input, .btn
    width 100%
    margin-bottom 18px

@media (max-width 720px)
  .popup--wrapper
    width 100%
    padding 50px 18px 12px
    border-radius 0
    height calc(100% + 50px)

  .popup-head
    font-size 15px
    margin-bottom 12px

    .section-headline
      margin-bottom 12px
      padding 0 20px

  .popup--wrapper.full,
  .list-slider-full,
  .list-slider-full > div
    width 100%
    height 300px

@media (max-width 550px)
  .closePopup
    right 10px
